:root{
    --main-color: #1B244A;
    --main-font-family: "Cursed Timer ULiL";
}

@font-face {
    font-family: "Cursed Timer ULiL";
    src: url('/CursedTimerUlil-Aznm.ttf');
}

body {
    margin: 0;
    background-color: var(--main-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 575px;
    height: 385px;
    margin: 0 auto;
}

.team-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    text-align: center;
    color: #EEEEEE;
    margin: 10px auto;
}

.score {
    height: 120px;
    width: 155px;
    background-color: #080001;
    border-radius: 5px;
    align-items: center; 
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: 10px auto;
}

.score-text {
    font-family: var(--main-font-family);
    font-weight: 400;
    text-align: center;
    color: #F94F6D;
    font-size: 90px;
    margin: auto;
    padding: 10%;
    text-shadow: 1px 1px 2px black;
   
}

.increase-buttons {
    background-color: var(--main-color);
    color: #9AABD8;
    font-family: var(--main-font-family);
    width: 45px;
    height: 45px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    box-sizing: border-box;
    text-shadow: 1px 1px 2px black;
}

.centered {
    text-align: center;
}

.increase-buttons:active{
    border: 2px solid #9ad8bb;
}

.increase-buttons:hover{
    background-color:  #030407;
}